body {
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
}

input[type="text"], button {
    width: 60px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
}

#result {
    font-size: 24px;
    margin: 10px;
}
